.info-div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto 1fr;
}

.cv {
  background-color: beige;
}

#root {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto auto;
  height: 100vh;
}

.cv {
  display: grid;

  grid-column: 2/-1;
}

.edu {
}

.exp-div,
.projects-div,
.grad-div,
.info-div,
.skills-div {
  margin: 3rem;
  padding: 1rem;
  height: auto;
  grid-row: 1/2;
}

.info-div div,
.exp-div div,
.projects-div div,
.grad-div div {
  padding: 4px;
}

.main-info {
  display: flex;
  gap: 8px;
  justify-content: center;
  flex-wrap: wrap;
}

.cv h1 {
  text-align: center;
}

a {
  text-decoration: underline;
  color: black;
}

.btn {
  width: 9rem;
}

.btns {
  display: flex;
  gap: 1rem;
  margin-left: 3rem;
  grid-row: 2/3;
  position: absolute;
  top: 70vh;
}

.display-6 {
  font-weight: 500;
}

.uni {
  font-weight: 600;
}

.degree,
.expYear {
  display: flex;
  justify-content: space-between;
}

.container {
  margin: 0;
}
p,
div {
  margin: 0;
  padding: 0;
}

.education,
.exp,
.projects,
.skills {
  font-size: 30px;
  font-weight: 00;
}

.title {
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
}

@media print {
  .projects-div,
  .info-div,
  .grad-div,
  .exp-div,
  .btns {
    display: none;
  }
  .cv {
    grid-column: 1/-1;
  }
}
